## Intro to Jupyter
We can write our code as well as make notes here.

In [6]:
a = 10
print(a)

10

In [7]:
a=10

In [21]:
a = 10
b = 5
a
b

5

If we enter simply a, b then last result will be shown as output

In [9]:
print(a)
print(9)

10
9

In [10]:
print (a, end = ",")
print(9)

10,9

By default print passes newline for ending. But we can pass " " "," etc to get desired output

The top to bottom is just a flow of execution of commands

In [20]:
a = 10
b = 2.5
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [14]:
a = 10 + 5j      #j for complex part
print(type(a))

<class 'complex'>

In [15]:
a = 10 + 5i 
print(type(a))

SyntaxError: invalid syntax (<ipython-input-15-74a0a601c529>, line 1)

In [16]:
#operators

a = 12
b = 5
c = a+b
print(a)
print(b)
print(c)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)  #floor division like in c, C++
print(a**3)  #exponentiation 
print(a%b)

12
5
17
17
7
60
2.4
2
1728
2

In [24]:
#strings 

a = "abhishek"
b = 'abhishek'
print(a)
print(b)
print(type(a))

abhishek
abhishek
<class 'str'>

In [26]:
#Typical string properties
print(len(a))
print(type(a))
print(a[3])

8
<class 'str'>
i

Strings in Python are immutable. i.e. we can replace string with new string but we can not modify one or more characters of a string. 

So a[0] = 2 is invalid statement.

In [27]:
a[0] = 'p'

TypeError: 'str' object does not support item assignment

In [29]:
a = "alok"
print(a)

alok

In [32]:
#String Concatenation  (string+string) (string + integer is invalid)
a = "abhi"
b = "shek"
c = a + b
print(c)
c = a + 2

abhishek

TypeError: must be str, not int

In python there is no term like character. All things under quotes are treated as strings. For example:

In [34]:
print(type('2'))

<class 'str'>

In [36]:
#Few functions for strings

a = "Abhishek"
print(a.upper())
print(a)
b = a.upper()
print(a)
print(b)
print(b.lower())

ABHISHEK
Abhishek
Abhishek
ABHISHEK
abhishek

In [39]:
#strip function removes all white spaces (from start and end only) in the string.

a = " Hello My name is Abhishek. "
print(a)
print(a.strip())

 Hello My name is Abhishek.
Hello My name is Abhishek.

In [41]:
#isalpha() function return boolean and check whether the variable contains only alphabets.
print(a.isalpha())
a = 'abhishek'
print(a.isalpha())

True
True

In [44]:
a = "abhi"
print(a.isdigit())
a = "4"
print(a.isdigit())

False
True

USER INPUT

input() returns a string i.e. user input is by default a string

to convert it into integer use int(input())

In [49]:
a = input()
print(a)
print(type(a))


a = int(input(a))
print(type(a))

123
123
<class 'str'>
123123
<class 'int'>

Positive Indexing starts from 0 to n-1
But, in python negative indexing can be done as well from -n to -1.

In [53]:
#Negative indexing    

a= "abhishek"
print(a[0])
print(a[7])
print(a[-1])
print(a[-8])

a
k
k
a

Slicing is exclusive i.e. slices from start to end-1

In [60]:
#slicing:    
s = "abcdefghij"
print(s[1:3])
print(s[-3:-1])
print(s[4:])   #till end
print(s[:4])   #from beginning
print(s[:])    #whole string
print(s[5:-1])

bc
hi
efghij
abcd
abcdefghij
fghi

* Tuple can have different types of entities bundled together.
* Tuples like strings are immutable.

In [66]:
#TUPLE

t = (1,2,3)
print(type(t))
print(t[0])

t = (1, "abhishek", 2.5)
print(type(t))
print(t[1])

#t[0] = 23 ... INVALID since Tuple is IMMUTABLE


#slicing in tuple
print(t[0:2])

<class 'tuple'>
1
<class 'tuple'>
abhishek
(1, 'abhishek')

In [77]:
#OPERATORS ON TUPLES

t = (1,2)
u = ("s", 25)

print(t+u)
print(t * 3)      #tuples can be multiplied with an integer only. and it prints the tuple that integer times.


print(1 in t)     #return boolean by checking whether tuple t contains 1 or not
print("a" in u)

(1, 2, 's', 25)
(1, 2, 1, 2, 1, 2)
True
False